/* CUSTOM FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* outline: solid 1px green; */
    @apply focus:outline-none focus:ring-2 focus:ring-orange-500 focus:rounded-md outline-1;

    scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1686542073 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686542073 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 108px;
}

